.logoLink {
  --utrecht-link-active-color: currentColor;
  --utrecht-link-active-text-decoration: none;
  --utrecht-link-color: currentColor;
  --utrecht-link-focus-color: currentColor;
  --utrecht-link-focus-text-decoration: none;
  --utrecht-link-focus-visible-text-decoration: none;
  --utrecht-link-hover-color: currentColor;
  --utrecht-link-hover-text-decoration: none;
  --utrecht-link-text-decoration: none;
  --utrecht-link-visited-color: currentColor;
  --utrecht-link-visited-text-decoration: none;
}

.logoLink:focus-visible {
  outline: var(--utrecht-focus-outline-width) var(--utrecht-focus-outline-style) var(--utrecht-focus-outline-color);
  outline-offset: var(--utrecht-focus-outline-offset);
}
