.hero {
  aspect-ratio: 18 / 7;
  inline-size: 100%;
  overflow: clip;
}

.image {
  block-size: 100%;
  display: block;
  inline-size: 100%;
  object-fit: cover;
}

@media (max-width: 47.9375rem) {
  .hero {
    aspect-ratio: 4 / 3;
  }
}
